<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true"><i class="fa fa-question-circle"></i>Help<span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><a href="#" target="_blank">Clerk's Manual</a></li>
            <li><a href="#" target="_blank">Accounting Manual</a></li>
            <li><a href="#" target="_blank">Records Retention Schedule</a></li>
            <li><a href="#">Electronic Records Destruction Procedure</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" target="_blank">Latest News</a></li>
            <li><a href="#" target="_blank">About</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-th"></i>Apps</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fa fa-user"></i><span id="profileUserName">John Doe</span><span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="SendEmail"><i class="fa fa-commenting-o" aria-hidden="true"></i>Feedback</a></li>
            <li><a href="#"><i class="fa fa-user"></i>Profile</a></li>
            <li><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-right" role="search">
        <div class="input-group active">
          <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" id='searchBtn'>
							  <span class="glyphicon glyphicon-map-marker">
									<span class="sr-only">Search</span>
          </span>
          </button>
          </span>
          <input type="text" class="form-control" style="width: 250px;" placeholder="Trimble [112] Case Inquiry">
          <span class="input-group-btn">
              <button type="submit" class="btn btn-success" id='searchBtn'>
							  <span class="glyphicon glyphicon-search">
									<span class="sr-only">Search</span>
          </span>
          </button>
          </span>
        </div>
      </form>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div class="alert alert-success">
      <strong>Your Result!</strong> <span id="showSearchTerm"></span>
    </div>
  </div>
</div>