<div id="navbar">
    <app-navbar></app-navbar>
</div>

<!--all above is necessary for bootstrap to function in this snippet-->
<div class="jumbotron">
    <div class="container text-center">
        <h1>D & K Automobile Singen</h1>
        <p>D & K Automobile Singen ist ein kompetenter Partner rund ums Auto. Wir bieten Ihnen einen reibungslosen und professionellen An- und Verkauf von Gebraucht- und Jahresfahrzeugen an. Überzeugen Sie sich selbst mit einem Besuch in unserem Autohaus!</p>
    </div>
</div>

<div class="container-fluid bg-3 text-center">
    <h3>Some of my Work</h3><br>
    <div class="row">
        <div class="col-sm-3">
            <p>Sie möchten Ihren Gebrauchtwagen verkaufen?</p>
            <ul>
              <li>Ist Ihr Jahreswagen, Gebrauchtwagen, Nutzwagen zu alt, ist Ihnen seine Kilometerleistung zu hoch?</li>
              <li>Kommt Ihr Gebrauchtwagen nicht mehr durch den TÜV?</li> 
              <li>Oder wollen Sie sich einfach ein neues Auto leisten?</li>
            </ul>
            <p>Dann sind wir genau der richtige Ansprechpartner für Sie !</p>
        </div>
        <div class="col-sm-6">
            <app-carcards></app-carcards>
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div>
<div id="footer">
    <app-footer></app-footer>
</div>